<template name="studentNews">
    <div class="container">
        <br><br>
        <h1>Запросы</h1>
        <br><br>
        <div class="card-panel horizontal-listing no-padding comments-section">
            <div class="container-fluid">

                <!--First row-->
                <div class="row hoverable">
                    <div class="col-sm-9 offset-1 ">
                        <a href="#"><h5 class="title">Изменение в расписании <i class="fa fa-reply"> Подтвердить</i></h5></a>
                        <i class="fa fa-clock-o"> 05/10/2018</i>
                        <p>Внесено изменение в ваше расписание преподвателем Плехова Э.В. </p>
                    </div>
                </div>
                <br>
                <div class="row hoverable">
                    <div class="col-sm-9 offset-1 ">
                        <a href="#"><h5 class="title">Изменение в расписании<i class="fa fa-reply"> Подтвердить</i></h5></a>
                        <i class="fa fa-clock-o"> 06/10/2018</i>
                        <p>Внесено изменение в ваше расписание преподвателем Боярщинова И.Н.</p>
                    </div>
                </div>
                <br>
                <div class="row hoverable">
                    <div class="col-sm-9 offset-1 ">
                        <a href="#"><h5 class="title">Изменение личных данных <i class="fa fa-reply"> Подтвердить</i></h5></a>
                        <i class="fa fa-clock-o"> 06/10/2018</i>
                        <p>Смена номера телефона студента Иванова И.И. ПМ-17-1б</p>
                    </div>
                </div>
                <!--/.First row-->
            </div>
        </div>

    </div>
</template>
