<template name="teacherMy">
    <div class="container">
        <br><br>
        <h1>Моя страница</h1>
        <br><br>
        <!-- Card -->
        <div class="card">

            <!-- Card image -->
            <a class="nav-link waves-light active" data-toggle="tab" href="#panel61" role="tab"><i class="fa fa-user fa-2x" aria-hidden="true"></i><br>Profile</a>
            <!-- Card content -->
            <div class="card-body">

                <!-- Title -->
                <h4 class="card-title"><a>Плехова Эльвира Валентиновна</a></h4>
                <!-- Text -->
                <p class="card-text">Кафедра ВМ</p>
                <!-- Button -->
                <a href="#" class="btn btn-primary">Добавить</a>

            </div>

        </div>
        <br><br>
        <!-- Card -->
        <div class="card">

            <!-- Card image -->
            <a class="nav-link waves-light" data-toggle="tab" href="#panel63" role="tab"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i><br> Contact</a>

            <!-- Card content -->
            <div class="card-body">

                <!-- Title -->
                <h4 class="card-title"><a>1234567@mail.ru</a></h4>
                <!-- Text -->
                <p class="card-text">89123456781</p>
                <!-- Button -->
                <a href="#" class="btn btn-primary">Добавить</a>

            </div>

        </div>
        <br><br>
        <div class="card">

            <!-- Card image -->
            <a class="nav-link waves-light" data-toggle="tab" href="#panel64" role="tab"><i class="fa fa-star fa-2x" aria-hidden="true"></i><br> Be awesome</a>
            <!-- Card content -->
            <div class="card-body">

                <!-- Title -->
                <h4 class="card-title"><a>some information</a></h4>
                <!-- Text -->
                <p class="card-text">some information</p>
                <!-- Button -->
                <a href="#" class="btn btn-primary">some information</a>

            </div>

        </div>

    </div>
</template>
